Definitions, Acronyms, and Abbreviations
mp3 - Motion Picture Experts Group 3. (audio format)
wav - Windows Wave (audio format)
jpg - also known as jpeg, joint photographic experts group. (image format)
png - portable network graphics. (image format)
playback - The reproduction of previously recorded sounds or moving images.
playlist - A collection of songs.



Functional Requirements
1. The upload function shall allow users to load songs from the filesystem.
	1.1 The system shall allow .mp3 and .wav files to be uploaded.
	1.2 The system shall allow the user to manually add the songs, or do a recurisive  directory search for any mp3 or wav files to be uploaded.
	1.3 The system shall require the following information for each song: Title, Album, Artist, Genre, Length, Date published, Explicit or not.
		1.3.1 The system shall read the last 128 bytes of data to determine the metadata of the song (if any exists).
	1.4 The system shall create tables that reference the location in memory of a song when uploaded
		1.5 The system shall store the current title of the mp3/wav file and the location it is in.

2. The Play function shall allow the currently loaded song to continue playback from it's current state.
	2.1 The system shall load the song starting from the beginning if it is not already loaded.
		2.1.1 The system shall start a song from 0:00 if the play button on the song label is clicked.
	2.2 The system shall continue the song from the time it was paused (if it was paused and another song hasn't been loaded yet).

3. The pause function shall stop playback of the current song.
	3.1 The system shall retrieve the time of playback before stopping the song in order to resume playback later.
	3.2 The system shall stop the playback time from incrementing when the pause button is pressed.

4. The repeat function shall allow the last played song to be replayed starting from 0:00.
	4.1 The system shall load the current song from the beginning and play it back repeatedly until the replay button is unselected.

5. The loop function shall allow a portion of a song specified by the user to be played continually and repeatedly until specified otherwise.
	5.1 The system shall repeat the loop indefiinitely until the user stops the loop.
		5.1.1 The system shall stop repeating the loop and continue the rest of the song if the loop button is pressed while the song is playing.
		5.1.2 The system shall pause the song if the pause button is pressed while in a loop.

6. The queue function shall allow a song to be loaded into a temporary playlist that will play the songs in the ordere they are added.
	6.1 The system shall choose a song from the queue if it is not empty, otherwise it will continue with the playlist.
	6.2 The system shall dynamically allocate space for a queue playlist where songs queued can be referenced.
	6.3 The system shall load the next song in queue after the current song has finished.
	6.4 The system shall remove the song from the queue only once it has reached its end.

7. The export function shall allow a specified portion of a song to be output into its own mp3 file for whatever purpose.
	7.1 The system shall allow the user to specify two points, a beginning and ending, where the export should take place.
	7.2 The system shall create a directory meant for exports (if not already done so).
		7.2.1 The system shall automatically load the song into the program and use all metadata from the original song.
	7.3 The system shall continue playback of a song (if one is currently playing) when the export occurs.
	
8. The add art function shall allow the user to upload an image/album art that is associated with a certain song.
	8.1 The system shall prompt the user for an image file to be attached as the cover art for a song.
		8.1.1 The system should support jpg and png files.
	
9. The search function shall allow the user to be able to search for a song through different criteria such as title, artist name, album name, or genre.
	9.1 The system shall display the exact song(s) if the title is used as search criteria.
	9.2 The system shall display all songs by a specific artist if artist name is used as search criteria.
	9.3 The system shall display all songs in a certain album if album name is used as search criteria.
	9.4 The system shall display songs that are categorized under a certain genre if it is used as search criteria.
	9.5 The system shall search the reference tables created for the playlists/ global scope of the program. 
	
10. The playlist function allows the user to create or delete and edit existing playlists.
	10.1 The system shall allow the user to name a newly created playlist.
		10.1.1 The system shall allow the user to add songs after the playlist is created.
		10.1.2 The system shall check if a song already exists in a playlist, and prompt the user if they still want to add it to thep playlist.
	10.2 The system shall allow the user to delete an existing playlist.
	10.3 The system shall allow a user to add or remove songs to and from an existing playlist. 

11. The export playlist function allows the user to share a playlist.
	11.1 The system shall export the songs in the playlist to a text file along with the playlist title.
		11.1.1 The songs in the text file shall be in order of the original playlist.
		11.1.2 The songs in the text file shall be represented by their name, artist, and album.
		11.1.3 The system shall attach the notes associated with the songs to the text file.
	11.2 Playlist author shall be listed in text file.

12. The import playlist function allows the user to add an entire playlist to their playlist collection.
	12.1 Playlist to be formed shall be read from a text file.
		12.1.1 Songs in newly formed playlist shall be in the same order as they appeared in text file.
		12.1.2 The system shall 
	12.2 Playlist to be formed shall denote the original creator of the playlist.
	12.3 Playlist to be formed shall adopt the name given to it by original creator.
	12.4 Playlist to be formed shall be added to the receiver's playlist collection.
	12.5 The system shall put placeholders for songs that do not exist in the system.

13.	The minimize function shall minimize the system's window.
	13.1 The system shall continue playback of a song (if one is currently playing).

14. The preference function shall allow users to mark songs.
	14.1 The system shall allow the users to mark their favorite songs.

15. The category function shall allow the users to filter songs.
	15.1 The system shall allow the users to filter songs based on album, genre, artist, etc., to ease the search process.

16. The close function shall terminate the application
	16.1 The system shall stop playback of the current song before termination.
		16.1.1 The system shall store data associated with this song to be resumed on later launch of the application

17. The add/remove note function shall allow the user to attach/remove a note including the time and/or a comment to a song.
	17.1 The note should show up at the specified time it was created in the song in a side panel.
		17.1.1 The user shall be allowed to change the note's time of appearance and contents during the song.
	17.2 The user shall be allowed to display/edit all notes of a song or playlist in a master-view

18. The volume function shall allow the user to adjust the listening volume of audio through the system.

19. The shuffle function shall allow the user to play the songs in a playlist in random order.

20. The skip function shall allow the user to skip the current song being played.



Use Case Diagram
